html {
  position: relative;
  min-height: 100%;
}

header {
  background-color: #edf4ed;
}

footer {
  position: fixed; /* change position to `absolute` if sticky footer is needed */
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #e9e9e2;
}

.navbar__search {
  margin: 8px 0;
}

.main-section {
  margin-top: 80px;
}

.main-section__book {
  border-top: 1px dashed #ddd;
  padding: 10px;
  height: 150px;
  display: block;
  cursor: pointer;
}

.main-section__book-img {
  width: 90px;
}

.main-section__book-info {
  margin-left: 10px;
}

.main-section__book-title {
  font-size: 16px;
}